<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>28756899203-66m4tbufd7jnrbv6ibmo4sc9562a099a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.28756899203-66m4tbufd7jnrbv6ibmo4sc9562a099a</string>
	<key>API_KEY</key>
	<string>AIzaSyDQMJ1JXDux9iNoDmYN0ppLz-Vb2KjjuXk</string>
	<key>GCM_SENDER_ID</key>
	<string>28756899203</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vahnly.rider</string>
	<key>PROJECT_ID</key>
	<string>drivers-for-u-app</string>
	<key>STORAGE_BUCKET</key>
	<string>drivers-for-u-app.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:28756899203:ios:4d95149acb8544dd9532b6</string>
</dict>
</plist>
